.detailsContainer {
  background: linear-gradient(to bottom, #f0f6fc 437px, white 0);
}

.detailsWrapper {
  padding: 38px 123px 0;
}

.detailsCard {
  height: 230px;
}

.description {
  height: 157px;
  color: #455b71;
}

.descriptionText {
  font-size: 18px;
  line-height: 21px;
  overflow: scroll;
  height: 157px;
}

.metadataHeader {
  font-weight: bold;
  color: #1c2024;
  font-size: 16px;
  letter-spacing: 1px;
}
