.second-sub-heading {
    font-size: 1.555rem !important;
    font-weight: 600 !important;
    line-height: 1.428 !important;
    margin-top: 0;
    margin-bottom: 8px;
    letter-spacing: normal;
    display: block;
}