.propertyName {
  font-weight: bold;
  font-size: 16px;
  color: #036;
}

.propertyValue {
  font-size: 16px;
  color: #19191a;
}

.propertyLink {
  font-size: 14px;
}

.assetLink:hover {
  color: #084d91 !important;
}
