.category-icon {
  width: 100%;
  height: auto;
  max-width: 128px;
}

.agri-category-icon {
  content: url("../../assets/images/themes/agri.png");
}

.agri-category-icon:hover {
  content: url("../../assets/images/themes/agri-hover.png");
}

.econ-category-icon {
  content: url("../../assets/images/themes/econ.png");
}

.econ-category-icon:hover {
  content: url("../../assets/images/themes/econ-hover.png");
}

.educ-category-icon {
  content: url("../../assets/images/themes/educ.png");
}

.educ-category-icon:hover {
  content: url("../../assets/images/themes/educ-hover.png");
}

.ener-category-icon {
  content: url("../../assets/images/themes/ener.png");
}

.ener-category-icon:hover {
  content: url("../../assets/images/themes/ener-hover.png");
}

.envi-category-icon {
  content: url("../../assets/images/themes/envi.png");
}

.envi-category-icon:hover {
  content: url("../../assets/images/themes/envi-hover.png");
}

.gove-category-icon {
  content: url("../../assets/images/themes/gove.png");
}

.gove-category-icon:hover {
  content: url("../../assets/images/themes/gove-hover.png");
}

.heal-category-icon {
  content: url("../../assets/images/themes/heal.png");
}

.heal-category-icon:hover {
  content: url("../../assets/images/themes/heal-hover.png");
}

.intr-category-icon {
  content: url("../../assets/images/themes/intr.png");
}

.intr-category-icon:hover {
  content: url("../../assets/images/themes/intr-hover.png");
}

.just-category-icon {
  content: url("../../assets/images/themes/just.png");
}

.just-category-icon:hover {
  content: url("../../assets/images/themes/just-hover.png");
}

.regi-category-icon {
  content: url("../../assets/images/themes/regi.png");
}

.regi-category-icon:hover {
  content: url("../../assets/images/themes/regi-hover.png");
}

.soci-category-icon {
  content: url("../../assets/images/themes/soci.png");
}

.soci-category-icon:hover {
  content: url("../../assets/images/themes/soci-hover.png");
}

.tech-category-icon {
  content: url("../../assets/images/themes/tech.png");
}

.tech-category-icon:hover {
  content: url("../../assets/images/themes/tech-hover.png");
}

.tran-category-icon {
  content: url("../../assets/images/themes/tran.png");
}

.tran-category-icon:hover {
  content: url("../../assets/images/themes/tran-hover.png");
}
