.outer-square {
  width: 25%;
  padding-bottom: 25%;
  position: relative;
}

.inner-square {
  position: absolute;
  left: 0.5em;
  right: 0.5em;
  top: 0.5em;
  bottom: 0.5em;
}

.clickable {
  cursor: pointer;
}
