.dropdown-menu {
  max-height: 350px;
  overflow-y: auto;
}

@keyframes dropdownFadeIn {
  0% {
    /* opacity: 0; */
    margin-top: 0;
  }
  100% {
    /* opacity: 1; */
    margin-top: 16px;
  }
}
@keyframes dropdownFadeInTop {
  0% {
    /* opacity: 0; */
    margin-top: 0;
  }
  100% {
    /* opacity: 1; */
    margin-top: 16px;
  }
}

.dropdown-menu.show[data-popper-placement="top-start"] {
  animation: dropdownFadeInTop forwards 0.3s;
}

.dropdown-menu.show[data-popper-placement="bottom-start"] {
  animation: dropdownFadeIn forwards 0.3s;
}
