div:empty {
  display: none;
}

a:empty {
  display: none;
}

@media (max-width: 768px) {
  [class*="col-"] {
    margin-bottom: 15px;
  }
}

.title {
  margin-bottom: 0px;
  font-size: 16px;
  letter-spacing: 1.1px;
  color: #455b71;
}

.subtitle {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -1px;
  color: #000;
  padding-top: 14px;
  margin-bottom: 0px;
}

.description {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #555;
  padding-top: 25px;
}

.buttonSection {
  padding-top: 24px;
}

.btnSecondary:hover {
  color: #084d91 !important;
}