footer {
  min-height: 20rem;
  padding: 1rem;
  padding-top: 2.8rem;
}

footer .container {
  min-width: 200px;
}

footer .row {
  margin-left: -15px;
  margin-right: -15px;
}

footer a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
