.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.opblock-summary-path:hover {
  color: #3b4151 !important;
}
.swagger-ui .opblock-tag:hover {
  color: #3b4151 !important;
}
a.nostyle:hover {
  color: #3b4151 !important;
}
.text-primary-title {
  color: #06c;
}
a.link:hover {
  color: #004080 !important;
}
.lineUnder {
  text-decoration: none;
}
.lineUnder :hover {
  text-decoration: underline;
}
.lineUnder.active {
  text-decoration: underline;
}
.btn.lineUnder {
  width: 90% !important;
  display: flex;
  justify-content: flex-start;
}

div.progress-bar:empty {
  display: flex;
}
.text-primary-title.active {
  text-decoration: underline;
}
.introSectionBread {
  background: #f2f7fc;
}
