.topmostHeader {
  font-size: 14px;
  color: #435a70;
  margin-top: 0.8em;
  margin-bottom: 1em;
}

.itemTitle {
  font-size: 24px;
  font-weight: bold;
}

.itemDescription {
  font-family: "Titillium Web", Geneva, Tahoma, sans-serif !important;
  font-size: 18px !important;
}

.itemInfo {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.87;
  margin-top: 3em;
}

.itemInfoLabel {
  color: #19191a;
}

.smallerFooter::after {
  margin-top: 1px !important;
}
